/*=====================
VARIABLES 
=====================*/

:root {
  --h1-font-size: 3.5rem;
  --h2-font-size: 2.5rem;
  --h3-font-size: 2rem;
  --h4-font-size: 1.5rem;
  --fs-default: 1rem;
  --main-color-red: #000000c3;
  --main-color-pink: #cf9d9d;
  --main-color-peach: #f8c8a0;
  --main-color-accent: #f08b2e;
  --header-font: "Doto";
  --text-font: "Space Grotesk";
}

@media (min-width: 768px) {
  :root {
    --h1-font-size: 5rem;
    --h2-font-size: 2.75rem;
    --h3-font-size: 2.25rem;
    --h4-font-size: 2rem;
    --fs-default: 1rem;
  }
}

@media (min-width: 1100px) {
  :root {
    --h1-font-size: 5rem;
    --h2-font-size: 3rem;
    --h3-font-size: 2.75rem;
    --h4-font-size: 2rem;
    --fs-default: 1rem;
  }
}
/*=====================
UTILITY
=====================*/

.contained {
  max-width: 1000px;
  margin-inline: auto;
  padding-inline: 1rem;
}

/*=====================
RESET + BASE RULES 
=====================*/

* {
  box-sizing: border-box;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}

body {
  line-height: 1.5;
  margin: 0;
  font-family: var(--text-font);
  font-size: var(--fs-default);
  background-color: var(--main-color-red);
  color: var(--main-color-peach);
}

h1,
h2,
h3,
h4 {
  font-family: var(--header-font);
  font-weight: 900;
  text-shadow: 2px 2px 2px #000;
}

h2,
h3,
h4 {
  color: var(--main-color-accent);
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: 900;
}

h2 {
  font-size: var(--h2-font-size);
  text-align: center;
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

/*=====================
TON CODE ICI mobile - first
=====================*/

/**********************
******Tristan*********/
.header {
  z-index: 100;
  position: sticky;
  top: -90vh;
  height: 100vh;
  display: flex;
  align-items: flex-end;
}
.nav {
  width: 100%;
  z-index: 99;
  height: 10vh;
  display: flex;
  display: none;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.nav__button {
  padding: 1rem;
  width: 10rem;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.558);
  border: 1px solid white;
  border-radius: 2rem;
  color: white;
  font-family: var(--header-font);
  font-weight: 900;
  font-size: 1rem;
  box-shadow: inset 0 0 5px #ffffff6f, 0 0 15px #ffffff80;
  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.nav__button:hover {
  box-shadow: inset 0 0 5px #ffffffa7, 0 0 15px #ffffffc2;
  background-color: rgba(86, 84, 84, 0.558);
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -3;
  top: 0;
  background-color: #000;
}
/*buzzin blur scrollin */
.hero::before,
.hero::after {
  pointer-events: none;
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 1rem;
  z-index: 1;
  top: 0;
  backdrop-filter: blur(10px);
  animation: scan-down 1s infinite;
}
.hero::after {
  animation: scan-down 5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes scan-down {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}
.hero__arrow-down {
  position: absolute;
  bottom: 2rem;
  height: 3rem;
  z-index: 1000;
}
.hero h1 {
  transform: perspective(900px) rotateX(33deg);
  text-align: center;
  line-height: 1.25;
  color: white;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
    0 0 35px #228dff, 0 0 40px #228dff;
}

.scrolling-banner {
  width: fit-content;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  animation: pan-left 120s infinite linear;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.39);
}

.scrolling-banner--right {
  animation: pan-left 120s infinite linear reverse;
}

@keyframes pan-left {
  0% {
    transform: translateX(25%);
  }

  100% {
    transform: translateX(-25%);
  }
}
.scrolling-banner img {
  height: 12rem;
}
.scrolling-banner img:hover {
  transition: transform 1s ease;
  transform: scale(1.2);
}
.presentation__wrapper {
  padding-top: 5rem;
}

.fond-contenu {
  background-color: var(--main-color-red);
  padding-bottom: 5rem;
  border-radius: 5px;
  backdrop-filter: blur(30px);
  box-shadow: inset 0 0 5px #ffffff6f, inset 0 0 15px #ffffff80;
  border: 1px solid white;
}

.presentation__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.presentation__img {
  max-width: min(70%, 450px);
}

.pourquoi {
  margin-block: 4rem;
  padding: 2rem;
  color: var(--main-color-peach);
  position: relative;
}

.pourquoi__wrapper {
  border: 1px solid black;
  border-radius: 1.5rem;
  border: 10px solid white;
  padding: 2rem;
  position: relative;
  background-color: #000;
  box-shadow: inset 0px 0px 15px 3px #ffffff5d;
  z-index: 1;
}
.pourquoi__wrapper::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: calc(100%);
  right: 0;
  top: 0;
  z-index: 10;
  border-radius: 100% 40% 25% 100%;
  background-color: rgba(254, 255, 239, 0.201);
}

.pourquoi h2 {
  text-transform: uppercase;
  margin: auto;
  position: relative;
  width: min-content;
  text-wrap: nowrap;
  padding-inline: 1rem;
}

/**********************
******Aurélia*********/

.personne {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.personne:nth-child(2) {
  margin-left: 1rem;
}

.personne:nth-child(3) {
  margin-left: 8rem;
}

.personne:nth-child(4) {
  margin-left: 1rem;
}

.personne:nth-child(5) {
  margin-left: 8rem;
}

.personne h3 {
  margin: 0;
  font-size: var(--h3-font-size);
  color: var(--main-color-peach);
}

.personne__photo {
  border: 2px solid white;
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 0.5rem;
}

.personne__desc {
  margin-top: 0.5rem;
  color: var(--main-color-peach);
}

/**********************
******Joris*********/
.footer {
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 5%;
  width: 90%;
  border-radius: 1rem;
  box-shadow: inset 0px 0 5px #ffffff6f, inset 0px 0 5px #ffffff80;
  border: 1px solid white;
  margin-inline: auto;
  margin-bottom: 1rem;
}
.footer__navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.footer__navbar__item i,
div > i {
  color: #fff;
  font-size: 3rem;
  margin: 1rem;
  z-index: 99;
}

.footer__hiddenMenu {
  color: #fff;
  font-family: "Doto";
  text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 15px #228dff, 0 0 20px #ff2222,
    0 0 40px #22d3ff;
  font-weight: 900;
  display: none;
  visibility: 0;
  flex-direction: column;
  align-items: center;
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}
.footer__hiddenMenu.show {
  display: flex;
  visibility: 1;
}
.footer__hiddenMenu__item {
  margin: 0;
  padding: 1rem 0;
  font-size: 3rem;
}
/*FIN CODE JORIS*/
/*FIN CODE JORIS*/

/*=====================
TON CODE ICI responsive
=====================*/

/*---------------------
TABLETTE
---------------------*/
@media (min-width: 768px) {
  /**********************
******Tristan*********/

  .presentation__content {
    flex-direction: row;
  }
  .presentation__img {
    max-width: min(50%, 450px);
  }

  .pourquoi__text-wrapper {
    display: flex;
    gap: 1rem;
  }
  .pourquoi__text-wrapper p + p {
    margin-top: 6rem;
  }

  /*DEBUT - Code par Joris*/
  .footer {
    display: none;
  }
  .nav {
    display: flex;
  }
  /*FIN - Code par Joris*/
}

/*---------------------
Mobile
---------------------*/
@media (min-width: 1100px) {
}
